<div class="bg-black d-flex justify-content-center ">
  <div class="text-white ">
    <p><strong>Impressum</strong></p>

    <p>Anbieter:
      Yanick Minder
      <br/>
      Ortsstrasse 6.
      <br/>
      3603 Thun
    </p>

    <p>
      Kontakt:
      <br/>
      Telefon: 076 823 62 72
      <br/>
      <br/>
      E-Mail: ya.minder05@gmail.com

    <p></p>

    <p>Bei redaktionellen Inhalten:</p>

    <p>Verantwortlich nach § 55 Abs.2 RStV
      <br/>
      Yanick Minder
      <br/>
      Ortsstrasse 6.
      <br/>
      3603 Thun

    </p>

  </div>
</div>
